# For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymLinks

#Options +SymLinksIfOwnerMatch
#RewriteBase /
#RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-l
#RewriteCond $1 !^(index\.php|public|robots\.txt)
#RewriteCond $1 !^(index\.php|uploads|public|robots\.txt) 
#RewriteRule ^(.*)$ index.php
# FOR LIVE
# RewriteRule ^(.*)$ index.php?/$1 [QSA,L]

# FOR LOCAL
#RewriteRule ^(.*)$ index.php?/$1 [QSA,L]

#RewriteBase /
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l 
RewriteCond $1 !^(index\.php|public|robots\.txt)
RewriteCond $1 !^(index\.php|uploads|public|robots\.txt) 
RewriteRule ^(.*)$ index.php

